body {
    font-family: 'Inter', sans-serif;
    margin: 0;
}
p {
    font-family: 'Poppins', sans-serif;
}
.hero {
    background-image: url(images/donation5.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.overley {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: #000000a8;
    text-align: center;
}
.hero-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 826px;
}
.hero-content h1 {
    font-size: 65px;
    font-weight: 700;
    line-height: 78px;
    color: #ffffff;
}
.hero-content p {
    font-size: 18px;
    color: #ffffff;
    padding-bottom: 50px;
    width: 691px;
    margin: 0 auto;
}
.donate-btn {
    width: 160px;
    padding: 16px 18px;
    border-radius: 5px;
    text-decoration: none;
    background: #FF5959;
    font-size: 20px;
    font-weight: 400;
    color: #fff;
}
.donate-today {
    padding: 100px 0;
    width: 765px;
    margin: 0 auto;
    text-align: center;
}
.donate-today h2 {
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}
.donate-today p {
    font-size: 18px;
    line-height: 28px;
    color: #707070;
}
.donate-price {
    display: flex;
    justify-content: space-between;
    overflow: hidden;
}
.donate-price h4 {
    flex-basis: 23%;
    font-size: 25px;
    font-weight: 700;
    color: #707070;
    padding: 35px 0px;
}
.price-highlight {
    border: 2px solid #FF5959;
    border-radius: 5px;
    color: #FF5959;
    background-color: #FFEEEE;
}
.donate-today input {
    width: 100%;
    border: 0;
    border-bottom: 1px solid #DADADA;
    text-align: center;
    font-size: 18px;
    font-family: 'Poppins', sans-serif;
    padding: 15px 0;
    margin-bottom: 50px;
}
input:focus {
    outline: none;
}
.donate-plan-content h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    color: #121212;
}
.donate-plan-content p {
    width: 691px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #707070;
    padding-bottom: 65px;
}
.donate-plan-items {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
.donate-plan-item {
    flex-basis: 26.5%;
    padding: 50px 30px;
}
.donate-plan-items i {
    font-size: 50px;
    color: #5a5757;
}
.donate-plan-items h4 {
    font-size: 24px;
    font-family: 'Poppins', sans-serif;
    line-height: 28px;
    color: #121212;
}
.donate-plan-items p {
    font-size: 16px;
    color: #707070;
}
.donate-plan-one {
    background: #4F9DA61A;
}
.donate-plan-two {
    background: #FF59591A;
}
.donate-plan-three {
    background: #FFF4D6;
}
.subscribe {
    padding: 100px 0;
}
.subscribe h2 {
    text-align: center;
    font-size: 45px;
    font-weight: 700;
    line-height: 54px;
    color: #121212;
}
.subscribe p{
    width: 691px;
    margin: 0 auto;
    text-align: center;
    font-size: 18px;
    color: #707070;
}
.subscribe-form {
    width: 809px;
    height: 48px;
    margin: 0 auto;
    text-align: center;
    padding: 70px 0;
    display: flex;
    justify-content: center;
    background: #FFF4D6;
    margin-top: 50px;
}
.email-input {
    padding-left: 20px;
    width: 275px;
    background: #D9D9D9;
    border: 0;
    border-radius: 5px 0 0 5px;
}
.subscribe-btn {
    width: 157px;
    background: #FF5959;
    border: 0;
    font-size: 16px;
    color: #fff;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
footer {
    background: #0B0D17;
    text-align: center;
    padding: 50px 0;
}
footer h2 {
    font-size: 36px;
    color: #FF5959;
    font-family: 'Poppins', sans-serif;
    line-height: 30px;
}
footer p {
    font-size: 14px;
    color: #D9DBE1;
}